.buttons{
  display: flex;
  gap: 2rem;
  
  
  & a{
    text-decoration: none;
    gap: 0.75rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.5rem;
    color: black;
  }

  :hover{
    transform: scale(1.1);
  }
}


.button-buy{
  background-color: var(--snitap-sun);
  padding: 1.5rem 3rem;
  border-radius: 5rem;
  color: black;
  transition: transform 350ms;
}

.button-play{
  display: flex;
  color: black;
  align-items: center;
  transition: transform 350ms;

  & span{
    display: flex;
    padding: 1.5rem;
    border-radius: 50%;
  }
}

.shadow{
  box-shadow: 0px 2px 5px rgb(0 0 0 / 0.1),
  0px 9px 9px rgb(0 0 0 / 0.09),
  0px 20px 12px rgb(0 0 0 / 0.05),
  0px 36px 15px rgb(0 0 0 / 0.01);
}
