section.gallery{
  width: 100%;
  max-width: 80rem;
  padding: 2.5rem 2rem;
  margin-inline: auto;

  header{
    text-align: center;
    padding-bottom: 2rem;
  }
  
  img{
    width: 100%;
    height: auto;
  }
  & figcaption img{
    width: 2rem;
  }

  & figcaption{
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .content{
    display: grid;
    grid-template-areas: 
    "A B B"
    "C C D";
    gap: 2.5rem;
  }
  figure > img{
    object-fit: cover;
    height: 25rem;
    border-radius: 2.5rem;
    transition: scale 500ms;
  }

  figure > img:hover{
    scale: 1.1;
  }

  figure:nth-child(1){
    grid-area: A;
  }

  figure:nth-child(2){
    grid-area: B;
  }

  figure:nth-child(3){
    grid-area: C;
  }

  figure::nth-child(4){
    grid-area: D;
  }

  figure{
    position: relative;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    border-radius: 2.5rem;
    animation: image-appear ease backwards;
    animation-timeline: view();
    animation-range: 100px 300px;

    &[data-delay]{
      animation-range: 150px 350px;
    }
  }

    figcaption{
    position: absolute;
    bottom: 0;
    padding: 1.5rem 2rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font: 500 1rem/1.5;
    font-family: "Montserrat", "sans-serif";
    transition: 500ms;
    transform: translateY(100%);

    background: linear-gradient(
      to top, rgb(0 0 0 /0.64),
      rgb(0 0 0 / 0)
    );

    &:hover{
      transform: translateY(0);
      
    }
  }

  figure:hover figcaption{
    transform: translateY(0);
  }
}

@keyframes image-appear {
  from{
    opacity: 0;
    transform: translateY(100%);
  }
}