.hero-tittle{
        
        h1 div{
            display: inline-block;
            overflow-x: hidden;
            height: 2rem;
            width: min-content;
            vertical-align: bottom;
            overflow: hidden;
        }

        & h1 span:nth-child(1), :nth-child(4){
          color: var(--snitap-sky-mid);
        }
        & h1 span:nth-child(2){
          color: var(--snitap-joy-mid);
        }

        & h1 span:nth-child(3){
          color: var(--snitap-leaf-mid)
        }
        
        h1 span{
          display: block;
          animation: slideup 6s ease infinite;
          
        }
    }

    @keyframes slideup {

      /* statico */
      0%, 22%{
        transform: translateY(-0.5rem);
      }
      /* bounce */
      23%{
        transform: translateY(calc(-2.8rem - 15px));
      }
      25%{
        transform: translateY(calc(-2.8rem + 10px));
      }
      27%{
        transform: translateY(calc(-2.8rem - 5px));
      }
      29%{
        transform: translateY(calc(-2.8rem + 5px));
      }
       /* statico */
      33%, 55%{
        transform: translateY(-2.8rem);
      }
      56%{
        transform: translateY(calc(-5.2rem - 15px));
      }
      58%{
        transform: translateY(calc(-5.2rem + 15px));
      }
      60%{
        transform: translateY(calc(-5.2rem - 5px));
      }
      62%{
        transform: translateY(calc(-5.2rem + 5px));
      }
       /* statico */
      66%, 88%{
        transform: translateY(-5.2rem);
      }
      89%{
        transform: translateY(calc(-7.7rem + 15px));
      }
      91%{
        transform: translateY(calc(-7.7rem - 15px));
      }
      93%{
        transform: translateY(calc(-7.7rem + 5px));
      }
      95%{
        transform: translateY(calc(-7.7rem - 5px));
      }

       /* statico */
      100%{
        transform: translateY(-7.7rem);
      }
    }